html, body

h1 
{
    color:black; larger; font-family: sans-serif;
    float: none; width:auto; height:auto;
}

#mother
{
    background-color:darkorchid; font-family:'Courier New', Courier, monospace; font-size:x-large
    float: left; width: 30%; height: 3%; border:round;
}

#father
{
    background-color:firebrick; font-family:'Courier New', Courier, monospace; font-size:x-large
    float: left; width: 30%; height: 3%; border:round;
}

#brother1
{
    background-color:cornflowerblue; font-family:'Courier New', Courier, monospace; font-size:x-large
    float: left; width: 30%; height: 3%; border:round;
}

#brother2
{
    background-color:limegreen; font-family:'Courier New', Courier, monospace; font-size:x-large
    float: left; width: 30%; height: 3%; border:round;
}

#start
{
    background-color:thistle; font-family:'Times New Roman', Times, serif; font-size:medium;
    float: left; width: 30%; height: 3%; border:round;
}

#camera
{
    border: 2px solid black
    height:10%; 
    width:30%
}